
imagens/wave azul.svg
imagens/wave preta.svg
imagens/wave rosa.svg
imagens/wave roxa.svg
imagens/wave verde.svg
imagens/wave.svg
imagens/background.jpg
.gitignore
.gitignore
imagens/fundocontador.jpg
imagens/laptop_room_on_the_desk-Digital_products_HD_widescreen_Wallpaper_1920x1080.jpg
imagens/minhas_fotos/imagem-horizontal.jpeg
