* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    z-index: 1;

}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    position: fixed;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all ease-in-out 250ms;
}


.menu-navigation ul {
    display: flex;
}

.menu-navigation ul li {
    font-size: 20px;
    margin: 0 10px;
    list-style: none;
    font-weight: 600;
    
}

.menu-navigation ul li a {
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: #9f3052;
    transition: all ease-in-out 250ms;
    z-index: 99;
}

.menu-navigation ul li a:hover {
    padding: 5px;
    background-color: #9f3052;
    color: #f7f9fb;
}

#actived {
    padding: 5px;
    background-color: #9f3052;
    color: #f7f9fb;
    color: rgb(80, 80, 80);
    color: #FFF;
}

/* INICIANDO MAIN */

main {
    height: 100vh;
    background-color: #e2c4ae;
    background-image: url('./imagens/background-images-for-websites-016.jpg');
    background-position: bottom;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 100vh;
    margin: auto;
}

.main .principal-title{
    margin-top: 50px;
    width: 1080px;
}

.main .principal-title h1,
h3 {
    color: #9f3052;
    font-size: 70px;
    text-align: center;
}

.main .principal-title h1 {
    margin-top: 30px;
}

.main .principal-title h3 {
    font-size: 20px;
}

/* SECTION ABOUT */ 

.about-me {
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-me .text-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    font-size: 18px;
    opacity: 0%;
    cursor: pointer;
    background-color: #f5f5f5;
    margin: 10px;
}

.about-me .text-about-me h1{
    font-size: 40px;
    color: #9f3052;
}

.icones-sociais a img {
    position: relative;
    width: 40px;
    height: 40px;
}

#primeiro-texto, 
#segundo-texto, 
#terceiro-texto {
    opacity: 0%;
    transition: all ease-in-out 1s;
}


/* PARTE DAS SOFT SKILLS */ 


main .soft-skills {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #f5f5f5;
}





@media (max-width: 600px) {
    
    /* MENU */

    .menu-navigation ul li {
        font-size: 15px;
    }

    /* MAIN */

    .main {
        width: 100%;
        height: 100vh
    }

    .main .principal-title {
        width: auto;
    } 

    .main .principal-title h1 {
        margin-top: 15px;
        font-size: 30px;
    }

    .main .principal-title h3 {
        font-size: 1rem;
    }

    /* SECTION ABOUT */  

    .about-me .text-about-me {
        width: 95%;
        margin: 5px;
        font-size: 0.9rem;
        text-align: center;
    }
    

    .about-me .text-about-me h1 {
        font-size: 1.5rem;
    }

}
















@media (max-width: 600px ) {


}