* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    z-index: 1;

}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    position: fixed;
    z-index: 99;
    background-color: #fff;
}


.menu-navigation ul {
    display: flex;
}

.menu-navigation ul li {
    font-size: 20px;
    margin: 0 10px;
    list-style: none;
    font-weight: 600;
    
}

.menu-navigation ul li a:hover {
    padding: 5px;
    background-color: #9f3052;
    color: #f7f9fb;
}


.menu-navigation ul li a {
    padding: 5px;
    border: 1px solid #fff;
    margin: 0 10px;
    text-decoration: none;
    color: #9f3052;

}


/* INICIANDO MAIN */

main {
    width: 100%;
    height: 100vh;
    background-color: #e2c4ae;
}

.main {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 100vh;
    margin: auto;
}

.main .principal-title{
    margin-top: 50px;
    width: 1080px;
}

.main .principal-title h1,
h3 {
    color: #9f3052;
    font-size: 80px;
}

.main .principal-title h1 {
    margin-top: 30px;
}

.main .principal-title h3 {
    font-size: 20px;
}

/* h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
} */

/* SECTION ABOUT */ 

.about-me {
    height: calc(100vh - 121px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me img {
    position: absolute;
    width: 800px;
    height: 800px;
}

.about-me .text-about-me {
    z-index: 1;
    color: #fff;
    width: 500px;
    height: 400px;
}

.text-about-me p:nth-child(1) {
    z-index: 1;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.text-about-me p:nth-child(4) {
    margin-bottom: 50px;
}

.icones-sociais a img {
    position: relative;
    width: 40px;
    height: 40px;
}


/* POSICIONAMENTO DAS IMAGENS */ 

.images-center-main {
    padding: 150px 0px 150px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1080px;
}

.images-center-main .image1,
.image2,
.image3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 30px;
    color: #f7f9fb;
    width: 180px;
    height: 180px;
    margin: 0px 10px 0px 10px ;
}

.image1 {
    background-color: rgb(228 81 38);
}

.image2 {
    background-color: rgb(12 115 184);
}

.image3 {
    background-color: rgb(227 163 40);
}


/* PARTE DAS SOFT SKILLS */ 

main .soft-skills {
    /* background-color: #273036; */
    background-color: #f7f9fb;
}

h1 {
    color: #273036;
    font-size: 50px;
    font-weight: 600;
}



































@media (max-width: 600px ) {
    .menu-navigation ul li {
        font-size: 1rem;
        }

        .about-me img {
            width: 600px;
            height: 600px;
        }
}